Source: ubiquity-slideshow-xenta
Section: x11
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Homepage: https://github.com/xentaoslinux/ubiquity-slideshow-xenta
Vcs-Browser: https://github.com/xentaoslinux/ubiquity-slideshow-xenta.git
Standards-Version: 3.9.7
Build-Depends: cdbs, debhelper (>= 5)
Build-Depends-Indep: po4a, python-utidylib, python

Package: ubiquity-slideshow-xenta
Architecture: all
Provides: ubiquity-slideshow
Conflicts: ubiquity-slideshow, ubiquity-slideshow-mint
Replaces: ubiquity-slideshow, ubiquity-slideshow-mint
Depends: ${misc:Depends}
Description: Paket Slideshow Ubiquity untuk Xenta OS.
 Sebuah slideshow yang ditujukan untuk installer Ubiquity, 
 dirancang sebagai cepat pengantar Xenta OS.
